[submodule ".vim/neobundle.vim"]
	path = .vim/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule ".userChrome/Griever"]
	path = .userChrome/Griever
	url = https://github.com/Griever/userChromeJS.git
[submodule ".userChrome/alice0775"]
	path = .userChrome/alice0775
	url = https://github.com/alice0775/userChrome.js.git
	ignore = dirty
[submodule ".userChrome/nodaguti"]
	path = .userChrome/nodaguti
	url = https://github.com/nodaguti/userChrome.js.git
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
