.vim/.neobundle/
.vim/neobundle.vim

# ~/.vim/ -> ~/.config/nvim/
# ~/.vimrc -> ~/.config/nvim/init.vim
.vim/init.vim

.config/nvim/lazy-lock.json

.zsh/.zcompdump
.zsh/.ZPLUG_SUDO_PASSWORD
.zsh/.zcompcache/
.zsh/.zinit/
*.zwc

.bundle/cache/

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

