<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta name="author" content="">
	<meta name="copyright" content="">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<script src="http://www.google.com/jsapi"></script>
</head>
<body>
	<div id="container">

	</div>
	<script>
		// Load jQuery
		google.load("jquery", "1");
		google.setOnLoadCallback(function() {
			$(function() {

			});
		});
	</script>
</body>
</html>
